<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="/img/logo.svg" type="image/svg">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jacquard+24&family=Momo+Trust+Sans:wght@200..800&display=swap" rel="stylesheet">

</head>

<body>
  <!-- Barra superiore per mobile -->
  <div class="secondBar">
    <div class = "secondLogoContainer">
      <a href="/"><img src="/img/logo.svg" alt="" id="logo"></a>      
    </div>

    <!-- Bottone hamburger -->
    <button class="menu-toggle" aria-label="Toggle menu">☰</button>

    <!-- Menu mobile nascosto di default -->
    <div class="mobileMenu">
      <a href="/blog/">|Blog|</a>
      <a href="/about/">|About Me|</a>
      <a href="/bookmarks/">|Bookmarks|</a>
    </div>
  </div>

  <!-- Sidebar per desktop -->
  <div class="sideBar">
    <div>
      <a href="/"><img src="/img/logo.svg" alt="" id="logo"></a>
    </div>

  

    <div class="menu">
      <a href="/blog/">|Blog|</a>
      <a href="/bookmarks/">|Bookmarks|</a>
      <a href="/about/">|About Me|</a>
    </div> <!-- menu ends -->
  </div>

  <!-- Contenitore principale -->
  <div class="pageContainer">
    <div class="spacer"><p></p></div>
    <div class="mainContent">
      {{ content | safe }}
    </div>
  </div>

  <!-- Script per apertura/chiusura menu mobile -->
  <script>
    const menuToggle = document.querySelector('.menu-toggle');
    const mobileMenu = document.querySelector('.mobileMenu');
    menuToggle.addEventListener('click', () => {
      mobileMenu.classList.toggle('active');
    });
  </script>
</body>

<script>
document.querySelectorAll('a[href^="http"]').forEach(link => {
  link.setAttribute('target', '_blank');
  link.setAttribute('rel', 'noopener noreferrer');
});

</script>
</html>
