---
layout: layout.njk
---
<link rel="stylesheet" href="/styles/postsStyle.css">

<div class="h-entry">


      <meta class="p-author h-card" content="https://mark-on.github.io/{{page.url}}"></meta>   
      <time class="dt-published" datetime="{{ page.date | dateToISO }}"></time>

  {{ page.date}}
  <h1 id="heading" class="p-name">{{ title }}</h1>
    <div class="e-content" >
      {{ content | safe }}
    </div>
</div>





