*{
    
    margin: 0;
    padding:0;
    text-decoration: none;
    font-style: normal;
}

body{
    padding: 2% 5%;
}

#heading{
    font-size: 3rem;
}
.posts{
    
    padding: 2% 1%;
}

article{
    margin-bottom: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* ombra */
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
}

.titleContainer{
    display: flex;
    align-items: center;
    gap: 30px;
}

.titleContainer p{
    background-color: rgb(155, 155, 155);
    color: black;
    border-radius: 5%;
    margin: 0;
    padding : 2px 5px;
    font-size: small;
}

#date{
    font-size: 15px;
    color: rgb(128, 128, 128);
}

#intro{
    font-style: normal;
    font-weight: 300;
    margin-top: 30px;
    font-size: 15px;
}

